.advantages {
  padding-top: 53px;
  padding-bottom: 119px;
  background-color: $color-ghost-white;
}

.advantages__container h2 {
  margin-bottom: 45px;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: center;
  color: inherit;
  transform: translate(6px, 0px);
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr .64fr 1fr;
  padding: 0 52px;
  gap: 133px 33px;
}

.advantages__item {
  display: grid;
  grid-template-columns: 1fr 1.26fr;
}

.advantages__item-inner,
.advantages__item-content {
  display: flex;
  flex-direction: column;
}

.advantages__item-content {
  width: 95%;
}

.advantages__item-inner {
  margin-left: 28px;
}

.advantages__item-inner span {
  font-family: inherit;
  font-weight: 700;
  font-size: 71px;
  line-height: 70px;
  background: $red-to-blue-numb-second;
  background-clip: text;
  color: $color-transparent;
}

.square .advantages__item-inner span {
  background: $red-to-blue-numb;
  background-clip: text;
}

.advantages__item-inner small {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-tory-blue;
  transform: translate(0, -4px);

}

.advantages__item-content h4 {
  margin-top: 3px;
  margin-bottom: 3px;
  font-family: inherit;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: inherit;
}

.advantages__item-content p {
  margin-top: 3px;
  font-family: inherit;
  font-weight: 300;
  font-size: $fz-default;
  line-height: 22px;
  color: inherit;
}

.advantages__item.gym {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 25px 22px 45px;
  grid-row: 1/3;
  grid-column: 2/3;
  color: $color-default-white;
  background: $color-resolution-blue;
}

.advantages__item.gym .advantages__item-inner {
  margin-left: 0;
}

.advantages__item.gym .advantages__item-inner span {
  margin-top: 26px;
  font-size: 74px;
  line-height: 78px;
  background: $color-default-white;
  background-clip: text;
}

.advantages__item.gym .advantages__item-content {
  text-align: center;
}

.advantages__item.gym .advantages__item-content h4 {
  margin-bottom: 33px;
  font-size: 26px;
  line-height: 34px;
}

.advantages__item.square,
.advantages__item.parking {
  position: relative;
}

.advantages__item.square::after,
.advantages__item.parking::after {
  content: "";
  position: absolute;
  left: 9px;
  bottom: -63px;
  width: 91%;
  height: 2px;
  background-color: rgba(209, 10, 66, 0.2);
}

.advantages__item.parking::after {
  left: 28px;
}

.advantages__item.parking,
.advantages__item.experience {
  grid-template-columns: 1fr 1.9fr;
}

@media (max-width: $vp-1199) {
  .advantages {
    padding-top: 58px;
    padding-bottom: 77px;
  }

  .advantages__container h2 {
    margin-bottom: 42px;
    font-size: 42px;
    line-height: 50px;
    transform: translate(-11px, 0);
  }

  .advantages__list {
    padding: 0 0;
    gap: 35px 47px;
    grid-template-columns: 0.95fr 1fr;
  }

  .advantages__item {
    grid-template-columns: 1fr 1.6fr;
  }

  .advantages__item.experience,
  .advantages__item.parking {
    grid-template-columns: 1fr 2.7fr;
  }

  .advantages__item-inner {
    margin-left: 0;
  }

  .advantages__item-inner span {
    font-size: 58px;
    line-height: 58px;
  }

  .advantages__item-content {
    width: 98%;
  }

  .advantages__item-content h4 {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 20px;
    line-height: 30px;
  }

  .advantages__item-content p {
    margin-top: 1px;
  }

  .advantages__item.parking::after,
  .advantages__item.square::after {
    display: none;
  }

  .advantages__item.gym {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px 22px 39px;
    width: 65%;
    grid-row: 2/3;
    grid-column: 1/-1;
    transform: translate(0, -8px);
  }

  .advantages__item.gym .advantages__item-inner span {
    margin-top: 7px;
    line-height: 74px;
    transform: translate(-3px, 0);
  }

  .advantages__item.gym .advantages__item-content h4 {
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 33px;
  }

  .advantages__item.gym .advantages__item-content p {
    margin: auto;
    width: 54%;
  }
}

@media (max-width: $vp-767) {
  .advantages {
    padding-top: 39px;
    padding-bottom: 63px;
  }

  .advantages__container {
    padding: 0;
  }

  .advantages__container h2 {
    margin-bottom: 43px;
    font-size: 32px;
    line-height: 38px;
  }

  .advantages__list {
    grid-template-columns: 1fr;
    gap: 35px;
  }

  .advantages__item {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .advantages__item.experience,
  .advantages__item.parking {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .advantages__item-inner {
    width: fit-content;
    margin: auto;
  }

  .advantages__item-content h4 {
    margin-top: 3px;
    transform: translate(2px, 0);
  }

  .advantages__item-content p {
    width: 73%;
    margin: auto;
  }

  .advantages__item.gym {
    margin-top: 9px;
    margin-bottom: 6px;
    padding: 31px 22px 44px;
    width: 100%;
    grid-row: 3/4;
    transform: translate(0, 0);
  }

  .advantages__item.gym .advantages__item-inner {
    margin: auto;
  }

  .advantages__item.gym .advantages__item-content h4 {
    margin-top: -5px;
    margin-bottom: 11px;
    transform: translate(0, 0);
  }

  .advantages__item.gym .advantages__item-content p {
    width: 70%;
  }

}
