.tabs {
  max-width: 100%;
  text-align: center;
}

.tabs__controls {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 50px;
  gap: 36px;
}

.tabs__controls::after {
  content: '';
  position: absolute;
  left: 6px;
  bottom: -12px;
  width: 96%;
  height: 2px;
  background-color: $color-grey-opacity;
}

.tabs__control {
  position: relative;
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: inherit;
  opacity: 0.5;
  border: none;
  background-color: $color-transparent;
  transition: $trans-easeinout;
  cursor: pointer;
}

.tabs__control:hover,
.tabs__control:focus,
.tabs__control:active {
  color: $color-crimson;
  opacity: 1;
}

.tabs__control.is-active {
  position: relative;
  opacity: 1;
  pointer-events: none;
  transition: $trans-easeinout;
}

.tabs__control::after {
  content: '';
  position: absolute;
  left: 6px;
  bottom: -12px;
  width: 150%;
  height: 2px;
  opacity: 0;
  background-color: $color-crimson;
}

.tabs__control.is-active::after {
  width: 86%;
  transition: $trans-easeinout;
  opacity: 1;
}

.tabs__content {
  margin-bottom: 40px;
  transition: height 0.3s;
}

.tabs__element {
  width: 100%;
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tabs__item {
  padding: 30px 0 62px 0;
  background-color: $color-default-white;
  border: 7px solid $color-default-white;
}

.tabs__item:hover,
.tabs__item:focus,
.tabs__item:active {
  border-image: $red-to-blue-numb-third;
  border-image-slice: 1;
}

.tabs__item h3 {
  margin-bottom: 9px;
  font-family: inherit;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  text-align: center;
  color: inherit;
}

.tabs__item p {
  margin-top: 9px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  color: $color-chambray;
}

.tabs__item--cost {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 66px;
  margin-bottom: 35px;
  gap: 15px;
}

.tabs__item--cost span {
  position: relative;
  font-family: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $color-egyptian-blue;
  z-index: 0;
}

.tabs__item--cost span::after {
  content: attr(data-price);
  position: absolute;
  top: -60%;
  left: -15%;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  color: $color-whisper;
  opacity: 0.48;
  z-index: -1;
}

.tabs__item--cost svg {
  z-index: 0;
}

.tabs__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}


.tabs__item-button {
  justify-content: center;
  margin: auto;
  padding: 25px;
  width: 59%;
  outline: 2px solid #102654;
  color: inherit;
}

.tabs__item-button:hover,
.tabs__item-button:focus,
.tabs__item-button:active {
  color: $color-default-white;
}


@media (max-width: $vp-1199) {
  .tabs__controls {
    margin: auto auto 42px;
    gap: 5px;
  }

  .tabs__control {
    margin: 0 25px;
    padding: 15px 0;
    font-size: 18px;
    line-height: 27px;
  }

  .tabs__controls::after {
    left: 25px;
    bottom: 2px;
    width: 87%;
  }

  .tabs__control::after {
    left: 0;
    bottom: 2px;
    width: 150%;
  }

  .tabs__control.is-active::after {
    width: 100%;
  }

  .tabs__list {
    grid-template-columns: 1fr;
  }

  .tabs__item {
    width: 65%;
    margin: auto;
    padding: 31px 0 62px;
  }

  .tabs__item h3 {
    margin-bottom: 9px;
  }

  .tabs__item p {
    margin-top: 9px;
  }

  .tabs__item-button {
    width: 48%;
    padding: 25px;
  }
}


@media (max-width: $vp-767) {
  .tabs__controls {
    gap: 45px;
    margin: auto auto 34px;
  }

  .tabs__control {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .tabs__controls::after {
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .tabs__control::after {
    left: 0;
    bottom: 0;
    width: 150%;
  }

  .tabs__control.is-active::after {
    width: 100%;
  }

  .tabs__control.is-active::after {
    width: 111%;
    left: -2%;
  }

  .tabs__list {
    gap: 35px;
  }

  .tabs__item {
    width: 100%;
    padding: 23px 0 48px;
  }

  .tabs__item h3 {
    font-size: 22px;
    line-height: 24px;
  }

  .tabs__item p {
    font-size: 16px;
    line-height: 24px;
  }

  .tabs__item--cost {
    margin-top: 55px;
    margin-bottom: 30px;
    gap: 10px;
  }

  .tabs__item--cost span {
    font-size: 48px;
    line-height: 72px;
  }

  .tabs__item--cost span::after {
    top: -85%;
    left: -15%;
    font-size: 79px;
  }

  .tabs__item--cost svg {
    width: 25px;
    height: auto;
  }

  .tabs__item-button {
    width: 74%;
  }
}
