.trainers {
  padding-bottom: 123px;
}

.trainers__container h2 {
  margin-top: 45px;
  margin-bottom: 33px;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: inherit;
}

.trainers__content {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 103px;
}

.trainers__content {
  position: relative;
}

.trainers__button {
  background-color: $color-transparent;
  border: none;
  outline: none;
}

.trainers__button svg {
  color: $color-dark-grey;
  transition: $trans-easeinout;
}

.trainers__button:hover svg,
.trainers__button:focus svg,
.trainers__button:active svg {
  color: $color-sapphire;
  transform: scale3d(1.5, 1.5, 1.5);
}

.trainers__button.swiper-button-prev {
  left: 41px;
}

.trainers__button.swiper-button-next {
  right: 41px;
  transform: rotate(180deg);
}

.trainers__button::after {
  display: none;
}


@media (max-width: $vp-1199) {
  .trainers {
    padding-bottom: 84px;
  }

  .trainers__container h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    transform: translate(-3px, 0);
  }

  .trainers__content {
    padding: 0 102px;
  }
}

@media (max-width: $vp-767) {
  .trainers {
    padding-bottom: 52px;
  }

  .trainers__container h2 {
    margin-bottom: 26px;
    font-size: 32px;
    line-height: 38px;
  }

  .trainers__content {
    padding: 0 48px;
  }

  .trainers__button.swiper-button-prev {
    left: 7px;
    top: 50%;
  }

  .trainers__button.swiper-button-next {
    right: 7px;
    top: 50%;
  }

  .trainers__button svg {
    width: 10px;
    height: 19px;
  }
}
