@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "RobotoCondensed";

  font-display: swap;
  src: url("../fonts/roboto-condensed-regular.woff2") format("woff2"),
  url("../fonts/roboto-condensed-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "RobotoCondensed";

  font-display: swap;
  src: url("../fonts/roboto-condensed-light.woff2") format("woff2"),
  url("../fonts/roboto-condensed-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "RobotoCondensed";

  font-display: swap;
  src: url("../fonts/roboto-condensed-bold.woff2") format("woff2"),
  url("../fonts/roboto-condensed-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "AlumniSans";

  font-display: swap;
  src: url("../fonts/alumni-sans-semi-bold.woff2") format("woff2"),
  url("../fonts/alumni-sans-semi-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "AlumniSans";

  font-display: swap;
  src: url("../../fonts/alumni-sans-extra-bold.woff2") format("woff2"),
  url("../fonts/alumni-sans-extra-bold.woff") format("woff");
}
